    <ul class="bookmarkTools nav nav-pills">
      <li class="cite">
        <%= link_to t('blacklight.tools.cite'), citation_catalog_path(:sort=>params[:sort], :per_page=>params[:per_page], :id => @bookmarks.collect{|doc| doc.document_id}), {:id => 'citeLink', :name => 'citation', :class => 'btn btn-default', :data => {:ajax_modal => "trigger"}} %>
      </li>
      <% if defined? BlacklightMarc %>
        <%= render partial: 'bookmarks/refworks' %>
        <%= render partial: 'bookmarks/endnote' %>
      <% end %>
      <li class="email">
        <%= link_to t('blacklight.tools.email'), email_catalog_path(:sort=>params[:sort], :per_page=>params[:per_page], :id => @bookmarks.collect {|doc| doc.document_id}), :class=>"btn btn-default", :id => "emailLink", :data => {:ajax_modal => "trigger"} %>
      </li>

      <% if @document_list.any? {|d| d.export_formats.keys.include? :endnote } %>
        <li class="endnote">
          <%= link_to t('blacklight.tools.endnote'), bookmarks_path(:endnote, params_for_search), :class => "btn btn-default", :id => "endnoteLink" %>
        </li>
      <% end %>

      <% if @document_list.any? {|d| d.export_formats.keys.include? :refworks_marc_txt } %>
        <li class="refworks">
          <%= link_to t('blacklight.tools.refworks'),
               bookmarks_refworks_export_url,
                :class => "btn btn-default", :id => "refworksLink" %>
        </li>
      <% end %>

</ul>
