<ul class="<%= controller_name %>Tools nav nav-pills">
  <%= render_show_doc_actions document_list, except: :bookmark do |name, inner| %>
    <li class="<%= name %>">
      <%= inner %>
    </li>
  <% end %>
  <%= render_marc_tools %>
</ul>
