<% sidebar_items << capture do %>
  <p><%= link_back_to_catalog %></p>
<% end %>

<h1><%= t('blacklight.bookmarks.title') %></h1>

<%- if current_or_guest_user.blank? -%>
  
  <h2><%= t('blacklight.bookmarks.need_login') %></h2>
  
<%- elsif @document_list.blank? -%>
  
  <h3><%= t('blacklight.bookmarks.no_bookmarks') %></h3>
<% else %>
  
  <div class="pageEntriesInfo">
    <%= render_pagination_info @response, :entry_name=>'item' %>
    <%=link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :id=>"startOverLink" %>
  </div>
	<%= render 'sort_and_per_page' %>
  <%= render 'results_pagination' %>
  
	<% sidebar_items << capture do %>
  <%= render 'tools' %>
	<% end %>  
  <%= render :partial => 'catalog/document_list' %>
  <%= render 'results_pagination' %>
<% end %>

