<h1><%= t('bookmarks.title') %></h1>

<%- if current_user.blank? -%>
  
  <h2><%= t('bookmarks.need_login') %></h2>
  
<%- elsif @bookmarks.blank? -%>
  
  <h2><%= t('bookmarks.no_bookmarks') %></h2>
  
<%- else -%>

<%= paginate @bookmarks, :theme => 'blacklight' %>
  <div id="userBookmarks">
    <p>
      <%= link_to t('bookmarks.clear.action_title'), clear_bookmarks_path, :method => :delete, :confirm => t('bookmarks.clear.action_confirm')%>
    </p>
    
    <h2><%= t('bookmarks.list_title') %></h2>
    
    <table class="zebra">
      <% @bookmarks.each do |bm| %>
      <tr>
    	<td><%= link_to h(bm.title), polymorphic_path(bm.document) %></td>
    	<td><%= button_to t('bookmarks.delete'), {:controller => "bookmarks", :action => "destroy", :id => CGI.escape(bm.document_id)}, 
	  :method => :delete, :confirm => t('bookmarks.remove.action_confirm') %></td>
      </tr>
      <% end %>
    </table>
  </div>

<% end %>
  
