<% @page_title = t('blacklight.bookmarks.page_title', :application_name => application_name) %>

<div id="content" class="col-md-12">
  <h1 class='page-heading'><%= t('blacklight.bookmarks.title') %></h1>

  <%- if current_or_guest_user.blank? -%>

    <h2 class='section-heading'><%= t('blacklight.bookmarks.need_login') %></h2>

  <%- elsif @response.documents.blank? -%>

    <h2 class='section-heading'><%= t('blacklight.bookmarks.no_bookmarks') %></h2>
  <% else %>
    <%= render 'sort_and_per_page' %>
    <%= render partial: 'tools', locals: { document_list: @response.documents } %>
    <h2 class='section-heading sr-only'><%= t('blacklight.bookmarks.list_title') %></h2>
    <%= render_document_index %>
    <%= render 'results_pagination' %>
  <% end %>
</div>
