<% @page_title = t('blacklight.search_history.page_title', :application_name => application_name) %>

<div id="content" class="col-md-12">
<h2 class='page-heading'><%=t('blacklight.search_history.title')%></h2>
<%- if @searches.blank? -%>
  <h3 class='section-heading'><%=t('blacklight.search_history.no_history')%></h3>
<%- else -%>
    <%= link_to t('blacklight.search_history.clear.action_title'), blacklight.clear_search_history_path, :method => :delete, :data => { :confirm => t('blacklight.search_history.clear.action_confirm') }, :class => 'btn btn-danger float-md-right' %>
  <h3 class='section-heading'><%=t('blacklight.search_history.recent')%></h3>
  <table class="table table-striped search-history">
    <%-  @searches.each_with_index do |search,index| -%>
    <% next if search.query_params[:q].blank? %>
    <%= content_tag :tr, :id => "document_#{index + 1}" do %>
      <td class="query"><%= link_to_previous_search(search.query_params) %></td>
      <%- if has_user_authentication_provider? -%>
        <td class="actions">
          <%- if current_or_guest_user && search.saved? -%>
            <%= button_to t('blacklight.search_history.forget'), blacklight.forget_search_path(search.id), :class => 'btn btn-secondary' %>
          <%- else -%>
            <%= button_to t('blacklight.search_history.save'), blacklight.save_search_path(search.id), :method => :put, :class => 'btn btn-secondary' %>
          <%- end -%>
        </td>
      <%- end -%>
    <% end #content_tag %>
  <%- end -%>
  </table>
<%- end -%>
</div>
