<h1>Search History</h1>
<%- if @searches.blank? -%>
  <h2>You have no search history</h2>
<%- else -%>
  <p>
    <%= link_to "Clear Search History", clear_search_history_path, :method => :delete, :confirm => "Clear your search history?" %>
  </p>
  <h2>Your recent searches</h2>
  <table class="zebra search_history">
  <%-  @searches.each_with_index do |search,index| -%>
    <%= content_tag :tr, :id => "document_#{index + 1}" do %>
      <td class="query"><%= link_to_previous_search(search.query_params) %></td>
      <td class="actions"><%- if has_user_authentication_provider? && current_user && search.saved? -%>
        <%= button_to "forget", forget_search_path(search.id) %>
      <%- else -%>
        <%= button_to "save", save_search_path(search.id), :method => :put %>
      <%- end -%></td>
    <% end #content_tag %>
  <%- end -%>
  </table>
<%- end -%>

