<h1><%=t('search_history.title')%></h1>
<%- if @searches.blank? -%>
  <h2><%=t('search_history.no_history')%></h2>
<%- else -%>
  <p>
    <%= link_to t('search_history.clear.action_title'), clear_search_history_path, :method => :delete, :confirm => t('search_history.clear.action_confirm') %>
  </p>
  <h2><%=t('search_history.recent')%></h2>
  <table class="zebra search_history">
  <%-  @searches.each_with_index do |search,index| -%>
    <%= content_tag :tr, :id => "document_#{index + 1}" do %>
      <td class="query"><%= link_to_previous_search(search.query_params) %></td>
      <%- if has_user_authentication_provider? -%>
        <td class="actions">
          <%- if current_user && search.saved? -%>
            <%= button_to t('search_history.forget'), forget_search_path(search.id) %>
          <%- else -%>
            <%= button_to t('search_history.save'), save_search_path(search.id), :method => :put %>
          <%- end -%>
        </td>
      <%- end -%>
    <% end #content_tag %>
  <%- end -%>
  </table>
<%- end -%>

