<h1>Folder</h1>

<% unless @documents.empty? %>
<div class="tools">
<ul class="folderTools">
  <li class="cite">
    <%= link_to "Cite", citation_catalog_path(:id => @documents.collect{|doc| doc.get(:id)}), {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink'} %>
  </li>
  <li class="refworks">
    <%= render :partial => 'catalog/refworks_form', :locals => {:documents=>@documents} %>
  </li>
  <li class="endnote">
    <%= link_to "Export to EndNote", endnote_catalog_path(:id => @documents.collect {|doc| doc.get(:id)}, :format => 'endnote')%>
  </li>
  <li class="email">
    <%= link_to "Email", email_catalog_path(:id => @documents.collect {|doc| doc.get(:id)})%>
  </li>
  <li class="sms">
    <%= link_to "SMS", sms_catalog_path(:id => @documents.collect {|doc| doc.get(:id)})%>
  </li>
  <% if current_user %>  
    <li>
      <%= render :partial=>'catalog/bookmark_form', :locals=>{:documents=>@documents} %>
    </li>  
  <% end %>
  <li>
    <%= link_to "Clear Folder", clear_folder_path, :method => :delete %>
  </li>
</ul>
</div>
<% end %>

<div id="documents">
  <% i = 0 %>
  
  <% @documents.each do |document| %>
    <% # container for a single doc -%>
    <div class="document">
  
      <% # header bar for doc items in index view -%>
      <div class="documentHeader yui-g">

          <h3 class="index_title"><%= i + 1%>. <%= link_to_document document, :label => document_show_link_field, :results_view => false %></h3>

      </div>
      
	    <%= render_document_partial document, :index %>
	    [<%= link_to 'remove', folder_path(document[:id]), :method => :delete, :confirm => 'Remove this item?' %>]
      <% i+= 1%>

    </div>
  
  <% end %>
</div>