<%= form_for(@user, :url => user_path) do |f| %>
  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2>The following errors prohibited this form from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
    <div class="row"><%= f.label :login %> <%= f.text_field :login %></div>
    <div class="row"><%= f.label :email %> <%= f.text_field :email %></div>
    <div class="row"><%= f.label :password %> <%= f.password_field :password %></div>
    <div class="row"><%= f.label :password_confirmation, "Confirm Password" %> <%= f.password_field :password_confirmation %></div>
    <div class="row submit"><%= f.submit 'Create Account' %></div>
  </fieldset>
<% end %>
