<nav class="navbar navbar-expand-md navbar-dark bg-dark topbar" role="navigation">
  <div class="<%= container_classes %>">
    <%= link_to application_name, root_path, class: 'mb-0 navbar-brand navbar-logo' %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#user-util-collapse" data-bs-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>

<%= content_tag :div, class: 'navbar-search navbar navbar-light bg-light', role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
  <div class="<%= container_classes %>">
    <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
          url: search_action_url,
          advanced_search_url: search_action_url(action: 'advanced_search'),
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(action: :suggest))) %>
  </div>
<% end %>
