<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>

  <% if has_user_authentication_provider? %>
    <% user = current_user if respond_to?(:current_user) %>
    <% if user %>
    <% if blacklight_logout_path %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.logout'), blacklight_logout_path, { class: 'nav-link' }.merge(blacklight_logout_link_options) %>
    </li>
    <% end %>
    <% if blacklight_account_path && user.to_s.present? -%>
    <li class="nav-item">
      <%= link_to user, blacklight_account_path, class: 'nav-link' %>
    </li>
    <% end %>
    <% else %>
    <% if blacklight_login_path %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.login'), blacklight_login_path, class: 'nav-link' %>
    </li>
    <% end %>
    <% end %>
  <% end %>
</ul>
