<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>

  <% if has_user_authentication_provider? %>
    <% if current_user %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link' %>
    </li>
    <% unless current_user.to_s.blank? -%>
    <li class="nav-item">
      <%= link_to current_user, edit_user_registration_path, class: 'nav-link' %>
    </li>
    <% end %>
    <% else %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
    </li>
    <% end %>
  <% end %>

  <li class="nav-item py-2 py-md-1 col-12 col-md-auto">
    <div class="vr d-none d-md-flex h-100 mx-md-2 text-white"></div>
    <hr class="d-md-none my-2 text-white-50">
  </li>

  <%= render Blacklight::ThemeSwitcherComponent.new %>
</ul>
