<%- # we don't use the per-form csrf token -%>
<%= form_tag(bookmark_path,
             authenticity_token: false,
             method:  bookmarked? ? :delete : :put,
             class: "bookmark-toggle",
             data: {
               present: t('blacklight.search.bookmarks.present'),
               absent: t('blacklight.search.bookmarks.absent'),
               inprogress: t('blacklight.search.bookmarks.inprogress')
            }) do %>
  <div class="checkbox toggle-bookmark">
    <label class="toggle-bookmark" data-checkboxsubmit-target="label">
      <input type="checkbox" class="toggle-bookmark <%= bookmark_icon ? 'd-none' : '' %>" data-checkboxsubmit-target="checkbox" <%= 'checked="checked"' if bookmarked? %>>
      <%= bookmark_icon %>
      <span data-checkboxsubmit-target="span"><%= bookmarked? ? t('blacklight.search.bookmarks.present') : t('blacklight.search.bookmarks.absent') %></span>
    </label>
  </div>

  <%= submit_tag(t(bookmarked? ? 'remove.button' : 'add.button', scope: 'blacklight.bookmarks'),
                 class: "bookmark-#{bookmarked? ? 'remove' : 'add'} btn btn-outline-secondary") %>
<% end %>
