<%= render applied_params_component %>
<div class="<%= header_container_classes %>">
  <div class="<%= pagination_container_classes %>">
    <%= render pagination_component %>
  </div>
  <%= render_header_tools %>
</div>
