<%- # local params:
    # label 
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    #   :check => false to not output checkmark. default true.
    options ||= {}
    options[:check] = true unless options.has_key?(:check)
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = true unless options.has_key?(:escape_value)
-%>

<span class="appliedFilter constraint <%= options[:classes].join(" ") if options[:classes] %>">
      <%- unless label.blank? -%>
        <span class="filterName"><%= options[:escape_label] ? h(label) : label %></span> 
      <%- end -%>
      <%- unless value.blank? -%>
        <span class="filterValue"><%= options[:escape_value] ? h(value) : value %></span>
      <%- end -%>
      <%- unless options[:remove].blank? -%>
        <%= link_to('',
					options[:remove],
					:class=>'btnRemove imgReplace',
          :alt=>'remove'
				) %>
      <%- end -%>
      <% if options[:check] %>
	 <%= image_tag("checkmark.gif", :alt=>"", :plugin=>'blacklight', :class => "checkmark") %>
      <% end %>
</span>
