<% # container for all documents in index view -%>
<div id="documents">
  
  <% # loop thru each doc -%>
  <% @document_list.each_with_index do |document,counter| %>

    <% # container for a single doc -%>
    <div class="document <%= render_document_class document %>">
      
      <% # header bar for doc items in index view -%>
      <div class="documentHeader yui-g">
        
        <% # list controls for items/docs -%>
	<%= render_document_functions_partial document %>
        
        <% # main title container for doc partial view -%>

        <div class="yui-u">
          <h3 class="index_title"><%= counter + 1 + @response.params[:start].to_i %>. <%= raw(link_to_document document, :label=>document_show_link_field, :counter => (counter + 1 + @response.params[:start].to_i)) %></h3>
        </div>
        
      </div>
      
      <% # main container for doc partial view -%>
      <%= render_document_partial document, :index %>

    </div>
    
  <% end %>
</div>
