<h1><%= t('search.email.form.title') %></h1>
<%= form_tag url_for(:controller => "catalog", :action => "email"), :id => 'email_form', :method => :post do %>
  <%= label_tag(:to, t('search.email.form.to')) %><br/>
  <%= text_field_tag :to %><br/>
  <%= label_tag(:message, t('search.email.form.message')) %><br/>
  <%= text_area_tag :message %><br/>
  <% @documents.each do |doc| %>
    <%=hidden_field_tag "id[]", doc.get(:id)%>
  <% end %>
  <%- if params[:sort] -%>
    <%= hidden_field_tag "sort", params[:sort] %>
  <%- end -%>
  <%- if params[:per_page] -%>
    <%= hidden_field_tag "per_page", params[:per_page] %>
  <%- end -%>
  <%= submit_tag t('search.email.form.submit') %>
<% end %>
