<div class="lightboxTitle">
  <div class="lightboxBack">
    <%= link_to "Close [X]", catalog_path(@document.id), {:class => "lightboxLink", :name => 'email'} %>
  </div>
  Email This
</div>

<% form_tag url_for(:action => 'send_email_record', :style => 'email'), :id => 'email_form', :method => :post do %>
  <%= label_tag(:to, "Email:") %><br/>
  <%= text_field_tag :to %><br/>
  <%= label_tag(:message, "Message:") %><br/>
  <%= text_area_tag :message %><br/>
  <%= submit_tag "Send" %>
<% end %>