  <% if @pagination.has_previous? || @pagination.has_next? %>
    <div class="prev_next_links">
      <%= link_to_previous_page @pagination, raw(t('views.pagination.previous')), :params => params, :param_name => Blacklight::Solr::FacetPaginator.request_keys[:page] do %>
       <span class="disabled ui-state-active prev_page"><%= raw(t('views.pagination.previous')) %></span>
     <% end %>
      <%= link_to_next_page @pagination, raw(t('views.pagination.next')), :params => params, :param_name => Blacklight::Solr::FacetPaginator.request_keys[:page] do %>
       
       <span class="disabled ui-state-active next_page"><%= raw(t('views.pagination.next')) %></span>
      <% end %>
     
    </div>
  <% end %>

  <div class="sort_options">
    <% if @pagination.sort == 'index' -%>
      <span class="disabled az"><%= t('blacklight.search.facets.sort.index') %></span><%= link_to_unless(@pagination.sort == 'count', t('blacklight.search.facets.sort.count'), 
        @pagination.params_for_resort_url('count', params), :class => "sort_change numeric") %>
    <% elsif @pagination.sort == 'count' -%>
      <%=  link_to(t('blacklight.search.facets.sort.index'), @pagination.params_for_resort_url('index', params), 
        :class => "sort_change az") %><span class="disabled numeric"><%= t('blacklight.search.facets.sort.count') %></span>
    <% end -%>    
  </div>


