<% # main container for facets/limits menu -%>
<div id="facets">
  <h2>Limit your search</h2>
  <% facet_field_names.each do |solr_fname| %>
    <div>
      <% display_facet = @response.facets.detect {|f| f.name == solr_fname} -%>
      <% if display_facet.items.length > 0 %>
        <h3><%= facet_field_labels[solr_fname] -%></h3>
        <ul>
          <% paginator =    
              Blacklight::Solr::FacetPaginator.new(display_facet.items,        
                :limit => facet_limit_for(solr_fname))
          %>
          <% paginator.items.each do |item| -%>
            <% if facet_in_params? solr_fname, item.value %>
              <li>
                <span class="selected"><%= h(item.value) %> (<%= format_num item.hits %>)</span>
                [<%= link_to 'remove', remove_facet_params(solr_fname, item.value, params), :class=>'remove' %>]
              </li>
              <% else %>
              <li>
                <%= link_to h(item.value), add_facet_params_and_redirect(solr_fname, item.value) %> (<%= format_num item.hits %>)
              </li>
            <% end -%>
          <% end %>
          
          <% if(paginator.has_next?)  %>
            <li class="more_facets_link"><%= link_to('more >>', params.merge(:id => solr_fname, :action=>"facet")) %></li>
          <% end %>
          
        </ul>
      <% end %>
    </div>
  <% end %>
</div>