<% if item_in_folder?(document[:id]) %>
  <div>This item is in your <%= link_to 'Folder', folder_index_path %></div>
<% else %>
  <% form_tag("/folder", :name => "folder#{document[:id]}", :class=>'addFolder') do -%>
    <%= hidden_field_tag("id_#{document[:id]}".to_sym, h(document[:id]), :name=>"id") %>
    <%= hidden_field_tag("title_#{document[:id]}".to_sym, h(document[document_show_link_field]), :name=>"title" ) %>
    <% if display == 'button' %>
      <%= submit_tag 'Add to Folder', :id => "folder_submit_#{document[:id]}" %>
    <% else %>
      <%= submit_tag 'Add to Folder', :id => "folder_submit_#{document[:id]}", :class => 'hide' %>
      <%= link_to_function "Add to Folder", "document.folder#{document[:id]}.submit();" %>
    <% end %>
  <% end %>
  <div class="folder_note" style="display:none;">This item is in your <%= link_to 'Folder', folder_index_path %></div>
<% end %>