<div class="lightboxTitle" style="text-align:center;">
  <div class="lightboxBack">
    <%= link_to "Close [X]", catalog_path(@document.id), {:class => "lightboxLink", :name => 'librarian_view'} %>
  </div>
  Librarian View
</div>
<div id="marc_view">
  <% fields = @document.marc.marc.find_all{|f| ('000'..'999') === f.tag }  %>
  <div class="field">LEADER <%= @document.marc.marc.leader %></div>
  <%- fields.each do |field| -%>
	<%- unless field.tag.to_s == "940" -%>
	  <div class="field">
	  	<div class="tag_ind">
	      <span class="tag">
	        <%= field.tag %>
	  	  </span>
		  <%- if field.is_a?(MARC::ControlField) -%>
		    <span class="control_field_values">
		      <%= field.value %>
		    </span>
		  <%- else -%>
		    <div class="ind1">
		      <%= !field.indicator1.blank? ? field.indicator1 : "&nbsp;&nbsp;" -%>
		    </div>
		    <div class="ind2">
		      <%= !field.indicator2.blank? ? field.indicator2 : "&nbsp;&nbsp;" -%>
		    </div>
		  </div>
		  <div class="subfields">
		    <%- field.each do |sub| -%>
			  <span class="sub_code"><%= sub.code %>|</span> <%= sub.value %>
			<%- end -%>
		  <%- end -%>
	    </div>
	  </div>
	<%- end-%>
  <%- end -%>
</div>