<h1>Librarian View</h1>
<div id="marc_view">
  <% fields = @document.to_marc.find_all{|f| ('000'..'999') === f.tag }  %>
  <div class="field">LEADER <%= @document.to_marc.leader %></div>
  <%- fields.each do |field| -%>
	<%- unless field.tag.to_s == "940" -%>
	  <div class="field">
	  	<div class="tag_ind">
	      <span class="tag">
	        <%= h(field.tag) %>
	  	  </span>
		  <%- if field.is_a?(MARC::ControlField) -%>
		    <span class="control_field_values">
		      <%= h(field.value) %>
		    </span>
		  <%- else -%>
		    <div class="ind1">
		      <%= !field.indicator1.blank? ? field.indicator1 : "&nbsp;&nbsp;".html_safe -%>
		    </div>
		    <div class="ind2">
		      <%= !field.indicator2.blank? ? field.indicator2 : "&nbsp;&nbsp;".html_safe -%>
		    </div>
		  </div>
		  <div class="subfields">
		    <%- field.each do |sub| -%>
			  <span class="sub_code"><%= h(sub.code) %>|</span> <%= h(sub.value) %>
			<%- end -%>
		  <%- end -%>
	    </div>
	  </div>
	<%- end-%>
  <%- end -%>
</div>
