<% @page_title = t('blacklight.search.page_title.title', constraints: render_search_to_page_title(search_state), application_name: application_name) %>

<% content_for(:head) do -%>
  <%= render 'catalog/opensearch_response_metadata', response: @response %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<% content_for(:skip_links) do -%>
    <%= link_to t('blacklight.skip_links.first_result'), '#documents', class: 'd-inline-flex p-2 m-1', data: { turbolinks: 'false' } %>
<% end %>

<% content_for(:container_header) do -%>
  <%= render 'search_results_header' %>
  <%= render 'constraints' %>
<% end %>

<%= render 'search_header' %>

<h2 class="visually-hidden"><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render 'catalog/group' %>
<%- else %>
  <%= render_document_index @response.documents %>
<%- end %>

<%= render 'results_pagination' %>
