<% @page_title = t('blacklight.search.page_title.title', constraints: render_search_to_page_title(search_state), application_name: application_name) %>

<% content_for(:head) do -%>
  <%= render 'catalog/opensearch_response_metadata', response: @response %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<% content_for(:skip_links) do -%>
    <%= link_to t('blacklight.skip_links.first_result'), '#documents', class: 'd-inline-flex p-2 m-1', data: { turbolinks: 'false' } %>
<% end %>

<% content_for(:container_header) do -%>
  <%= render 'search_results_header' %>
  <% partials = lookup_context.find_all('constraints', lookup_context.prefixes, true, [], {}) %>
  <% unless partials.first.identifier.starts_with? Blacklight.root %>
    <% Blacklight.deprecation.warn('The partial catalog/_constraints.html.erb will be removed in Blacklight 9.0. Call the constraints_component instead') %>
  <% end %>
  <%= render 'constraints', hide_warning: true %>
d<% end %>

<%= render 'search_header' %>

<h2 class="sr-only visually-hidden"><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render 'group' %>
<%- else %>
  <%= render_document_index @response.documents %>
<%- end %>

<%= render 'results_pagination' %>
