<h3 class="constraints">
  <%- if params[:q] && params[:f] -%>
    You searched for <em><%= params[:q] %></em> limited to
  <%- elsif params[:q] -%>
    You searched for <em><%= params[:q] %></em>
  <%- elsif params[:f] -%>
    Your empty search limited to
  <%- else -%>
    You have no search criteria
  <%- end -%>
</h3>

<%- unless @filters.blank? -%>
  <ul>
    <%- @filters.each do |filter| -%>
      <%- filter.last.each do |value| -%>
        <li>
          <%= facet_field_labels[filter.first] %>: <%= value %> [<%= link_to 'remove', remove_facet_params(filter.first, value), :class => 'remove' %>]
        </li>
      <%- end #each value -%>
    <%- end #each filter -%>
  </ul>
<%- end -%>
