<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div class="panel panel-default show-tools">
  <div class="panel-heading">
    <%= t('blacklight.tools.title') %>
  </div>

  <div class="panel-body">
  <ul class="nav">
      <li>
        <%= render_show_doc_actions @document %>
      </li>
      <% if @document.export_formats.keys.include?( :refworks_marc_txt ) %>
        <li class="refworks">
        <%= link_to t('blacklight.tools.refworks'), refworks_export_url(url: polymorphic_url(url_for_document(@document), format: :refworks_marc_txt, only_path: false))  %>        
        </li>
     <% end %>
     <% if @document.export_formats.keys.include?( :endnote ) %>
      <li class="endnote">
      <%= link_to t('blacklight.tools.endnote'), catalog_path(@document, :format => 'endnote') %>
      </li>
    <% end %>
    <% document_actions.select { |name, config| evaluate_if_unless_configuration config, @document }.each do |name, config| %>
      <li class="<%= name %>">
        <%= render_document_action_partial name, config, @document %>
      </li>
    <% end %>
    
    <% if respond_to? :librarian_view_catalog_path and @document.respond_to?(:to_marc) %>
      <li class="librarian_view">
        <%= link_to t('blacklight.tools.librarian_view'), librarian_view_catalog_path(@document), {:id => 'librarianLink', :data => {:ajax_modal => "trigger"}} %>
      </li>
    <% end %>
  </ul>
  </div>
</div>
