<% if show_doc_actions? %>
  <div class="card show-tools">
    <div class="card-header">
      <h2 class="mb-0 h6"><%= t('blacklight.tools.title') %></h2>
    </div>
    <% if render_show_doc_actions_method_from_blacklight? %>
      <%= render(Blacklight::Document::ActionsComponent.new(document: @document, tag: 'ul', classes: 'list-group list-group-flush', wrapping_tag: 'li', wrapping_classes: 'list-group-item', actions: document_actions(@document), url_opts: Blacklight::Parameters.sanitize(params.to_unsafe_h))) %>
    <% else %>
      <% Deprecation.warn(self, '#render_show_doc_actions is deprecated; use ActionComponents instead') %>
      <ul class="list-group list-group-flush">
        <%= render_show_doc_actions @document do |config, inner| %>
          <li class="list-group-item <%= config.key %>">
            <%= inner %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
