<% carriers = 
{
'AT&T' => 'att',
'Verizon' => 'verizon',
'T Mobile' => 'tmobile',
'Sprint' => 'sprint',
'Nextel' => 'nextel',
'Virgin Mobile' => 'virgin',
'Alltel' => 'alltel',
'Cricket' => 'cricket'
}
%>
<%- unless flash[:success] %>
  
  <%= form_tag url_for(:controller => "catalog", :action => "sms"), :id => 'sms_form', :class => "form-horizontal ajax_form", :method => :post do %>
<div class="modal-body">
  <%= render :partial=>'/flash_msg' %>
    <div class="control-group">
      <label class="control-label" for="to"> 
        <%= t('blacklight.sms.form.to') %>
      </label>
      <div class="controls">
        <%= text_field_tag :to, params[:to] %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="carrier">
        <%= t('blacklight.sms.form.carrier') %> 
      </label>
      <div class="controls">
          <%= select_tag(:carrier, options_for_select(carriers.to_a.sort.unshift([t('blacklight.sms.form.carrier_prompt'),'']), params[:carrier])) %><br/>
      </div>

    </div>
    <% @documents.each do |doc| %>
       <%=hidden_field_tag "id[]", doc.get(:id)%>
    <% end %>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
</div>
  <% end %>
<%- else %>
<div class="modal-body">
  <%= render :partial=>'/flash_msg' %>
    <span class="ajax-close-modal"/>
    </div>
<%- end %>
