<% carriers = 
{
'AT&T' => 'att',
'Verizon' => 'verizon',
'T Mobile' => 'tmobile',
'Sprint' => 'sprint',
'Nextel' => 'nextel',
'Virgin Mobile' => 'vmobile',
'Alltel' => 'alltel',
'Cricket' => 'cricket'
}
%>
<h1>SMS This</h1>
<%= form_tag url_for(:action => 'send_email_record', :style => 'sms'), :id => 'sms_form', :method => :post do %>
  <%= label_tag(:to, "Phone Number:") %><br/>
  <%= text_field_tag :to %><br/>
  <%= label_tag(:carrier, "Carrier:") %><br/>
  <%= select_tag(:carrier, options_for_select(carriers.to_a.sort.unshift(["Please select your carrier",'']), '')) %><br/>
  <% @documents.each do |doc| %>
     <%=hidden_field_tag "id[]", doc.get(:id)%>
  <% end %>
  <%= submit_tag "Send" %>
<% end %>
