<div id="sortAndPerPage">  
	<% unless @response.response['numFound'] < 2 %>
	  <%-# kind of hacky way to get this to work on catalog and folder controllers.  May be able to simple do {:action=>"index"} but I'm not sure -%>
  	<%= form_tag params[:controller] == "folder" ? folder_index_path : catalog_index_path, :method=>:get, :class=>'per_page' do %>
      <%= label_tag(:per_page) do %>
          Show <%= select_tag(:per_page, options_for_select(['10', '20', '50', '100'], h(params[:per_page])), :title => "Number of results to display per page") %> per page
      <% end %>
      <%= search_as_hidden_fields(:omit_keys => [:page, :per_page]) %>
      <%= submit_tag 'update' %>
    <% end %>

    <%-# kind of hacky way to get this to work on catalog and folder controllers.  May be able to simple do {:action=>"index"} but I'm not sure -%>
		<%= form_tag params[:controller] == "folder" ? folder_index_path : catalog_index_path, :method=>:get, :class=>'sort', :id => "sort_form" do %>
      <%= label_tag(:sort, "Sort by ") %>
			<%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort]))) %>			      
      <%= search_as_hidden_fields(:omit_keys => [:page, :sort]) %>
			<%= submit_tag 'sort results' %>
		<% end %>
	<% end %>
</div>
