<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.prefix do %>
    <div class="facet-pagination top row justify-content-between">
      <%= render :partial=>'facet_pagination' %>
    </div>
  <% end %>

  <% component.title { facet_field_label(@facet.key) } %>

  <%= render partial: 'facet_index_navigation' if @facet.index_range && @display_facet.index? %>

  <div class="facet-extended-list">
    <%= render_facet_limit(@display_facet, layout: false) %>
  </div>

  <% component.footer do %>
    <div class="facet-pagination bottom row justify-content-between">
      <%= render :partial=>'facet_pagination' %>
    </div>
  <% end %>
<% end %>
