<div class="facet_pagination top">
  <%= render :partial=>'facet_pagination' %>
</div>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="modal-title"><%= facet_field_labels[params[:id]] %></h3>
</div>
<div class="modal-body">
  <div class="facet_extended_list">

    <ul class="facet_extended_list facet-values">
      <% @pagination.items.each do |item| %>
        <li>
          <% if facet_in_params?( params[:id], item.value ) %>              
            <%= render_selected_facet_value(params[:id], item) %>              
          <% else %>              
            <%= render_facet_value(params[:id], item) %>              
          <% end -%>
        </li>
      <% end %>
    </ul>
  </div>
</div>
  
<div class="modal-footer">

  <div class="facet_pagination bottom">
    <%= render :partial=>'facet_pagination' %>
  </div>
</div>
