<div class="facet_extended_list">
  
  <% sidebar_items << capture do %>
  <p><%= link_back_to_catalog %></p>
  <% end %>

  <%= render :partial=>'facet_pagination' %>

  <h3><%= facet_field_labels[params[:id]] %></h3>
  
  <ul class="facet_extended_list">
    <% @pagination.items.each do |item| %>
      <li>
        <% if facet_in_params?( params[:id], item.value ) %>              
          <%= render_selected_facet_value(params[:id], item) %>              
        <% else %>              
          <%= render_facet_value(params[:id], item) %>              
        <% end -%>
      </li>
    <% end %>
  </ul>
  
</div>