<% unless has_search_parameters? %>
	<%# if there are no input/search related params, display the "home" partial -%>
	<%= render 'home' %>
<% else %>

	<% @page_title = application_name + " Search Results" %>

	<%= render :partial => 'search_form' %>
	
	<%= render :partial => 'did_you_mean' %>

	<%= render 'constraints', :localized_params=>params %>
  
  <div class="pageEntriesInfo">
    <%= page_entries_info @response.docs, :entry_name=>'item' %>
    <%=link_to "Start&nbsp;over&thinsp;", catalog_index_path, :id=>"startOverLink" %>
  </div>
  
	<%= render 'sort_and_per_page' %>
  
  <%= render 'results_pagination' %>
  

	<%= render_document_list_partial %>

	<% sidebar_items << capture do %>
	  <%= render :partial=>'facets' %>
	<% end %>

  <%= render 'results_pagination' %>


	<%= render :partial=>'solr_request' %>

<% end %>

