<%= content_tag @tag || :div, id: @id, class: @classes do %>
  <% if @render_headers %>
    <h2 class="h6 mb-0"><%= t("blacklight.search.constraints.heading") %></h2>
  <% end %>
  <% if @search_history %>
    <%= constraints_content %>
  <% else %>
    <ul class="ml-0 mb-0 ps-0">
      <%= constraints_content %>
    </ul>
  <% end %>
  <%= render @start_over_component.new if @start_over_component %>
<% end %>
