<details class="card facet-limit blacklight-<%= @facet_field.key %> <%= 'facet-limit-active' if @facet_field.active? %>" <%= "open" unless @facet_field.collapsed? %>>
  <summary class="card-header facet-field-heading px-2" id="<%= header_html_id %>">
    <span class="field-label py-1"><%= label %></span>
  </summary>

  <div id="<%= html_id %>" class="card-body">
    <%= body %>

    <% if @facet_field.modal_path %>
      <div class="more_facets">
        <%= link_to t("more_#{@facet_field.key}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: @facet_field.label),
          @facet_field.modal_path,
          data: { blacklight_modal: 'trigger', turbo: false } %>
      </div>
    <% end %>
  </div>
</details>
