<%= render(@layout.new(facet_field: @facet_field)) do |component| %>
  <% component.label do %>
    <%= @facet_field.label %>
  <% end %>

  <% component.body do %>
    <ul class="facet-values list-unstyled blacklight-facet-checkboxes">
      <% presenters.each_with_index do |presenter, idx| -%>
        <li>
          <span class="facet-checkbox">
            <%= check_box_tag "f_inclusive[#{@facet_field.key}][]", presenter.value, presenter.selected?, id: "f_inclusive_#{@facet_field.key}_#{idx}"%>
          </span>

          <span class="label-and-count">
            <%= label_tag "f_inclusive_#{@facet_field.key}_#{idx}" do %>
              <%= presenter.label %>
            <% end %>
          <span>
        </li>
      <% end -%>
    </ul>
  <% end %>
<% end %>
