<div class="card facet-limit blacklight-<%= @facet_field.key %> <%= 'facet-limit-active' if @facet_field.active? %>">
  <h3 class="card-header p-0 facet-field-heading" id="<%= @facet_field.html_id %>-header">
    <button
      type="button"
      class="btn btn-block p-2 text-left collapse-toggle <%= "collapsed" if @facet_field.collapsed? %>"
      data-toggle="collapse"
      data-target="#<%= @facet_field.html_id %>"
      aria-expanded="<%= @facet_field.collapsed? ? 'false' : 'true' %>"
    >
      <%= label %>
    </button>
  </h3>
  <div id="<%= @facet_field.html_id %>" aria-labelledby="<%= @facet_field.html_id %>-header" class="panel-collapse facet-content collapse <%= "show" unless @facet_field.collapsed? %>">
    <div class="card-body">
      <%= body %>

      <% if @facet_field.modal_path %>
        <div class="more_facets">
          <%= link_to t("more_#{@facet_field.key}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: @facet_field.label),
            @facet_field.modal_path,
            data: { blacklight_modal: 'trigger' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
