<%= form_tag @url, method: @method, class: @classes.join(' '), role: 'search', 'aria-label' => scoped_t('submit') do %>
  <%= render_hash_as_hidden_fields(@params) %>
  <% if search_fields.length > 1 %>
    <label for="search_field" class="sr-only"><%= scoped_t('search_field.label') %></label>
  <% end %>
  <div class="input-group">
    <%= prepend %>

    <% if search_fields.length > 1 %>
        <%= select_tag(:search_field,
                       options_for_select(search_fields, h(@search_field)),
                       title: scoped_t('search_field.title'),
                       id: "#{@prefix}search_field",
                       class: "custom-select search-field") %>
    <% elsif search_fields.length == 1 %>
      <%= hidden_field_tag :search_field, search_fields.first.last %>
    <% end %>

    <label for="<%= @prefix %><%= @query_param %>" class="sr-only"><%= scoped_t('search.label') %></label>
    <%= text_field_tag @query_param, @q, placeholder: scoped_t('search.placeholder'), class: "search-q q form-control rounded-#{@search_fields.length > 1 ? '0' : 'left'}", id: "#{@prefix}q", autocomplete: autocomplete_path.present? ? "off" : "", autofocus: @autofocus, data: { autocomplete_enabled: autocomplete_path.present?, autocomplete_path: autocomplete_path }  %>

    <span class="input-group-append">
      <%= append %>

      <button type="submit" class="btn btn-primary search-btn" id="<%= @prefix %>search">
        <span class="submit-search-text"><%= scoped_t('submit') %></span>
        <%= blacklight_icon :search, aria_hidden: true %>
      </button>
    </span>
  </div>
<% end %>

<% if presenter.advanced_search_enabled? %>
  <%= link_to t('blacklight.advanced_search.more_options'), @advanced_search_url, class: 'advanced_search btn btn-secondary'%>
<% end %>
