<%= form_with url: @url, method: @method, class: @classes.join(' '), namespace: @prefix, role: 'search', 'aria-label' => scoped_t('submit'), **@form_options do |f| %>
  <%= render_hash_as_hidden_fields(@params) %>
  <% if @search_fields.length > 1 %>
    <%= f.label :search_field, scoped_t('search_field.label'), class: 'sr-only visually-hidden' %>
  <% end %>
  <div class="input-group">
    <%= prepend(form: f) %>

    <% if @search_fields.length > 1 %>
      <%= f.select(:search_field,
                   options_for_select(@search_fields, h(@search_field)),
                   {},
                   title: scoped_t('search_field.title'),
                   class: "custom-select form-select search-field") %>
    <% elsif @search_fields.length == 1 %>
      <%= f.hidden_field :search_field, value: @search_fields.first.last %>
    <% end %>

    <%= f.label @query_param, scoped_t('search.label'), class: 'sr-only visually-hidden' %>
    <%= f.text_field @query_param, value: @q, placeholder: scoped_t('search.placeholder'), class: "search-q q form-control rounded-#{@search_fields.length > 1 ? '0' : 'left'}", autocomplete: autocomplete_path.present? ? "off" : "", autofocus: @autofocus, data: { autocomplete_enabled: autocomplete_path.present?, autocomplete_path: autocomplete_path }  %>

    <span class="input-group-append">
      <%= append(form: f) %>

      <%= f.button class: 'btn btn-primary search-btn', id: "#{@prefix}search" do %>
        <span class="submit-search-text"><%= scoped_t('submit') %></span>
        <%= blacklight_icon :search, aria_hidden: true %>
      <% end %>
    </span>
  </div>
<% end %>

<% if presenter.advanced_search_enabled? %>
  <%= link_to t('blacklight.advanced_search.more_options'), @advanced_search_url, class: 'advanced_search btn btn-secondary'%>
<% end %>
