<% # main container for facets/limits menu -%>
<%= content_tag :div, id: @id,  class: 'facets sidenav facets-toggleable-md' do %>
  <div class="facets-header">
    <%= content_tag :h2, @title, class: 'facets-heading' if @title %>

    <%= content_tag :button,
      class:'navbar-toggler navbar-toggler-right',
      type: 'button',
      data: {
        toggle: 'collapse',
        target: "##{@panel_id}",
        'bs-toggle': 'collapse',
        'bs-target': "##{@panel_id}"
      },
      aria: {
        controls: @panel_id,
        expanded: 'false',
      } do %>
      <span data-show-label><%= t('blacklight.search.facets.group.open') %></span>
      <span data-hide-label><%= t('blacklight.search.facets.group.close') %></span>
    <% end %>
  </div>

  <div id="<%= @panel_id %>" class="facets-collapse collapse">
    <%= body %>
  </div>
<% end %>
