<% # main container for facets/limits menu -%>
<%= content_tag :div, id: @id,  class: 'facets sidenav facets-toggleable-md' do %>
  <div class="facets-header">
    <%= content_tag :h2, @title, class: 'facets-heading h4' if @title %>

    <%= collapse_toggle_button(@panel_id) %>
  </div>

  <div id="<%= @panel_id %>" class="<%= body_classes %>">
    <%= body %>
  </div>
<% end %>
