<small>
  <% if has_user_authentication_provider? %>
    <div class="util-links-login">
      <% if current_user %>
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %> <%= "[#{ link_to current_user, edit_user_registration_path }]" unless current_user.to_s.blank? %>
      <% else %>
        <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
      <% end %>
    </div>

  <% end %>

  <div class="util-links-other">
    <% if current_or_guest_user %>
      <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
    <% end %>
    <% if has_user_authentication_provider? and current_user %>
      |
      <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
    <% end %>
    |
    <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
  </div>
</small>
