<div id="content" class="span9">
<h1>Send Us Feedback</h1>

<% unless @errors.empty? %>
  <strong><%= t('blacklight.feedback.errors.title') %></strong>
  <ul class="errors">
  <% @errors.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_tag do %>
  <fieldset>
    <%= label_tag t('active_record.attributes.feedback.name') %> <%= text_field_tag :name, params[:name] %>
    <%= label_tag t('active_record.attributes.feedback.email') %> <%= text_field_tag :email, params[:email] %>
    <%= label_tag t('active_record.attributes.feedback.message')  %> <%= text_area_tag :message, params[:message] %>

    <%= label_tag '' %><%= submit_tag t('blacklight.feedback.submit') %>
  </fieldset>
<% end %>
</div>
