<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    
    <%= render_head_content %>
    
    
  </head>
  <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
    <body onload="$('input#q').focus();">
  <% else %>
    <body>
  <% end %>
	  <div id="doc4" class="yui-t2">
	    
	    <div id="hd">
        <div class="yui-g">
          <div class="yui-u first">
            <h1 class="site_title"><%= link_to application_name, root_path %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : "" %></h1>
          </div>
          <div class="yui-u">
            <%= render :partial=>'/user_util_links' %>
          </div>
        </div>
      </div>
	    
	    <div id="bd">
      	
      	<div id="yui-main">
          <div class="yui-b">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
        
        <div class="yui-b sidebar"><%= sidebar_items.join('') %></div>
        
	    </div>
	    
	    <div id="ft"><%= @footer %></div>
	    
	  </div>
    <div id="lightboxContainer" style="display:none;">
    </div>
  </body>
  
</html>