<% content_for(:content) do %>
  <% if content_for? :sidebar %>
    <section id="content" class="<%= main_content_classes %> order-last">
      <%= yield %>
    </section>

    <section id="sidebar" class="<%= sidebar_classes %> order-first">
      <%= content_for(:sidebar) %>
    </section>
  <% else %>
    <section class="col-md-12">
      <%= yield %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
