<% content_for(:content) do %>
  <section class="<%= show_content_classes %>">
    <%= yield %>
  </section>

  <aside class="<%= show_sidebar_classes %>" aria-label="<%= t('.aria.sidebar') %>">
    <%= content_for(:sidebar) %>
  </aside>
<% end %>

<%= render template: "layouts/blacklight/base" %>
